<div style="display: flex; align-items: center; flex-direction: column;">
  <app-mon-custom-input [formControl]="myFormControl"
    style="width: 300px">
  </app-mon-custom-input>
<!--  <app-mon-custom-input [(ngModel)]="ngModelValue"-->
<!--                        style="width: 300px" [disabled]="true">-->
<!--  </app-mon-custom-input>-->
  <div style="display: flex; gap: 1rem; margin-top: 1rem">
    <button type="button" (click)="formControlValueChange()">change form control value</button>
    <button type="button" (click)="toggleDisableState()">disable form control</button>
    <button type="button" (click)="ngModelValueChange()">change ngModel value</button>
  </div>
  <p>FormControl: {{ myFormControl.value | json }}</p>
  <p>ngModelValue: {{ ngModelValue }}</p>
</div>
